<div class="col-12 col-md-6 col-xl-4 mb-4">
    <div class="card">
        <img class="card-img-top object-contain h-300px" src="{{ asset(product.image|img) }}" alt="photo du produit {{ product.title }}">
        <div class="card-body">
            <h5 class="card-title h-48px">{{ product.title }} - {{ product.brand.title }}</h5>
            <div class="d-flex justify-content-between align-items-center" data-product>
                {% set item = order.items|filter(item => item.product.id == product.id)|first %}
                {% set quantity = 1 %}

                {% if item is not empty %}
                    {% set quantity = item.quantity %}
                {% endif %}
                <span class="fs-18 fw-bolder">{{ product.price|price(2, ',', ' ') }}</span>
                <span class="border rounded d-flex justify-content-between p-2">
                    <span class="product-less mx-1" data-product-less>-</span>
                    <span class="mx-1" data-product-quantity>{{ quantity }}</span>
                    <span class="product-more mx-1" data-product-more>+</span>
                </span>

                <button class="btn btn-primary d-flex justify-content-center align-items-center" data-add-cart-url="{{ path('cart_add_product', {product: product.id}) }}">
                    <span class="me-2">
                        <i class="fas fa-cart-plus"></i>
                    </span>
                    Ajouter au panier
                </button>
            </div>
        </div>
    </div>
</div>